<div class="row">
    <div class="col-xl-12">

        <!-- Card -->
        <div class="dt-card bg-image-v5 bg-overlay bg-overlay-black overlay-opacity-0_5 text-white">

            <!-- Overlay Content -->
            <div class="bg-overlay__inner">

                <!-- Card Header -->
                <div class="dt-card__header mb-6">

                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title text-white">{{ coursePage.course.category }}</h3>
                    </div>
                    <!-- /card heading -->

                </div>
                <!-- /card header -->

                <!-- Card Body -->
                <div class="dt-card__body">

                    <!-- Project Title -->
                    <div class="mb-4 display-6 text-uppercase">{{ coursePage.course.course_name }}
                    </div>
                    <!-- /project title -->

                    <!-- Meta Date -->
                    <div class="meta-date text-light-gray f-12 mb-4">{{ coursePage.course.timestamp | date: 'h:mm a, d MMM y'  }}</div>
                    <!-- Meta Date -->

                    <p class="mb-6">
                        {{ coursePage.course.description }}
                    </p>

                </div>
                <!-- /card body -->

            </div>
            <!-- /overlay content -->

        </div>

        <div ng-show="coursePage.course.course_file_url" class="mb-6">
<!--
            <button type="submit" onclick="window.open('/assets/uploads/{{ coursePage.course.course_file_url }}')">Download!</button>
-->


            <!--<form method="get" action="/assets/uploads/{{ coursePage.course.course_file_url }}">
                <button type="submit">Download!</button>
            </form>-->

            <a target="_self" href="/assets/uploads/{{ coursePage.course.course_file_url }}" download="{{ coursePage.course.course_file_url }}" class="btn btn-primary btn-block">View Course File</a>
        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->



    <div class="col-xl-12 text-center rounded-circle">

        <iframe width="560" height="315" src="{{ coursePage.course.course_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
    <!-- /grid item -->
</div>
