<h1>My Projects</h1>

<div class="row mb-6">
    <div class="col-xl-12">
        <form class="search-box" style="max-width: 100%">
            <div class="input-group">
                <input class="form-control" placeholder="Search in projects..." ng-model="searchProject" type="search">
                <span class="search-icon"><i class="icon icon-search icon-lg"></i></span>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-xl-12" ng-repeat="project in myProjects.projects | filter : searchProject">

        <!-- Card -->
        <div class="card horizontal">

            <!-- Slider -->
            <div class="dt-slider">

                <!-- Slider Header -->
                <div class="dt-slider__header">

                    <span class="badge bg-orange text-white text-uppercase">Project</span>

                    <!-- Checkbox -->
                    <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only">
                        <input id="checkbox-1" type="checkbox" checked>
                        <label class="font-weight-light dt-checkbox-content" for="checkbox-1">
                            <span class="unchecked"><i class="icon icon-heart-o text-white"></i></span>
                            <span class="checked"><i class="icon icon-heart text-white"></i></span>
                        </label>
                    </div>
                    <!-- /checkbox -->
                </div>
                <!-- /slider header -->

                <img class="img-fluid" src="/assets/images/project.png" alt="Project">


            </div>
            <!-- /slider -->

            <!-- Card Stacked -->
            <div class="card-stacked">

                <!-- Card Body -->
                <div class="card-body">

                    <!-- Badges -->
                    <span class="badge badge-secondary text-uppercase mb-2">{{ project.department_info[0].department }} DEPARTMENT</span>
                    <!-- /badges -->

                    <!-- Card Title-->
                    <h3 class="card-title text-truncate text-uppercase">{{ project.title }}</h3>
                    <!-- Card Title-->

                    <!-- Card Sub Title-->
                    <h5 class="card-subtitle"><i class="text-success icon icon-chart-pie icon-fw"></i> {{ project.progress }}% Complete</h5>
                    <!-- /card sub title-->

                    <!-- Content Area -->
                    <p class="card-text text-truncate">
                        {{ project.description }}
                    </p>

                    <span class="min-w-150 d-inline-block border-top mb-2"></span>

                    <div class="d-flex flex-wrap mb-4">
                        <div class="pr-3">Department : <span class="text-dark">{{ project.department_info[0].department }}</span></div>
                    </div>
                    <!-- /content area -->

                    <div>
                        <!-- /contact short info -->

                        <div class="dt-widget__img">
                            <!-- Avatar -->
                            <img class="dt-avatar size-35" ng-repeat="member in project.users_info" style="border-top-left-radius: 0rem;border-bottom-left-radius: 0rem;" src="../assets/uploads/{{ member.profile_url }}" alt="User">
                            <!-- /avatar -->
                        </div>
                        <!-- /widget image -->
                        <!-- /contact short info -->
                        <span class="d-inline-block mr-3 mt-5"><i class="icon icon-user icon-fw"></i> Posted by {{ project.author[0].name }}</span>
                        <span class="d-inline-block mt-5"><i class="icon icon-calendar icon-fw"></i> {{ project.timestamp | date : 'MMM d, yyyy'}}</span>
                    </div>

                </div>
                <!-- /card body -->

                <!-- Card Footer -->
                <div class="card-footer d-flex flex-column justify-content-between">
                    <!-- Pricing -->
                    <div class="price mb-6">
                        <span class="d-block text-orange font-weight-500 display-5">{{ project.deadline | date: 'd MMM y' }}</span>
                        <span class="d-inline-block text-light-gray f-12">{{ project.deadline | date : 'h:mm a'}}</span>
                    </div>
                    <!-- /pricing -->

                    <!-- Card Button -->
                    <a class="card-link font-weight-500"
                       href="/project/{{ project._id }}">
                        <span>Go to project</span>
                        <i class="icon icon-arrow-long-right icon-lg ml-1"></i>
                    </a>
                    <!-- /card button -->
                </div>
                <!-- /card footer -->

            </div>
            <!-- /card stacked -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->

</div>

