<!-- Page Header -->
<div class="dt-page__header">
    <h1 class="dt-page__title">Create New User</h1>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-12">

        <!-- Card -->
        <div class="dt-card">

            <!-- Card Body -->
            <div class="dt-card__body">

                <!-- Form -->
                <form ng-submit="register.regUser(regData);" class="mb-6" ng-show="!register.successMsg">
                    <div class="form-row">
                        <div class="col-sm-4 mb-3">
                            <label>Full Name  </label>
                            <input class="form-control" type="text" name="name" placeholder="Enter name" ng-model="register.regData.name" required>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label>Email </label>
                            <input class="form-control" type="email" name="email" placeholder="Enter email" ng-model="register.regData.email" required>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label>Username </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter username" ng-model="register.regData.username" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label>Select Department :</label>
                            <select class="form-control" ng-model="register.regData.department" required>
                                <option value="">-- Select Department --</option>
                                <option ng-repeat="department in register.departments" value="{{ department.department }}">{{ department.department }}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Select Position :</label>
                            <select class="form-control" id="simple-select" ng-model="register.regData.position" required>
                                <option value="">-- Select position --</option>
                                <option ng-repeat="position in register.positions" value="{{ position.position }}">{{ position.position }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label>Contact No. : </label>
                            <input class="form-control" type="text" name="contact_no" placeholder="Enter Contact No." ng-model="register.regData.contact_no" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Branch / Location : </label>
                            <input class="form-control" type="text" name="branch" placeholder="Enter branch/location" ng-model="register.regData.branch" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 mb-3">
                            <label>Select Permission :</label>
                            <select class="form-control" id="simple-select2" ng-model="register.regData.permission" required>
                                <option value="">-- Select permission --</option>
                                <option value="user"> User </option>
                                <option value="admin"> Admin </option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Create User Now</button>
                </form>
                <!-- /form -->
                <div class="text-center" ng-show="register.loading">
                    <span class="glyphicon glyphicon-repeat spinner"></span>
                    <p> Loading..... </p>
                </div>


                <div class="row show-hide-message">
                    <div class="alert alert-success" ng-show="register.successMsg">
                        <strong> Success! </strong> {{ register.successMsg }}
                    </div>
                </div>


                <div class="row show-hide-message">
                    <div class="alert alert-danger" ng-show="register.errorMsg">
                        <strong> Oops! </strong>{{ register.errorMsg }}
                    </div>
                </div>

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

        <!-- /card -->
    </div>
    <!-- /grid item -->
</div>
<!-- /grid -->

